.app {
  width: 100vw;
  min-width: 1150px;
  background: #072348;
}

main {
  width: 100%;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 99;
}

.section:not(.hero) {
  margin-top: 100px;
  height: auto;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media screen and (max-width: 1150px) {


}
